.resultCard__summary {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.summary__text {
  margin: 15px 0 15px 0;
  font-size: 18px;
  font-weight: $font_extraBold;
}

.scores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.ticket {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 15px;

  .icons {
    display: flex;

    img {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

@media (min-width: 1024px) {
  .resultCard__summary {
    border-radius: 30px;
    padding: 3rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
