body {
  font-family: $font_family;
}
.light-red {
  color: $light_red;
  background-color: $light_red_bg;
}

.orange-yellow {
  color: $orange_yellow;
  background-color: $orange_yellow_bg;
}

.green-teal {
  color: $green_teal;
  background-color: $green_teal_bg;
}

.cobalt-blue {
  color: $cobalt_blue;
  background-color: $cobalt_blue_bg;
}

.dark_gray_blue {
  color: $dark_gray_blue;
}
span {
  color: $light_lavender;
}
